*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}
:root{
  --theme-primary: #101820;
  --theme-secondary: #FEE715;
  --theme-primary-light: #101820d7;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--theme-primary);
}
html{
  overflow-x: hidden;
}

::-webkit-scrollbar{width: 15px;}
::-webkit-scrollbar-track{background-color: dimgray;}
::-webkit-scrollbar-track-piece{background-color: dimgray}
::-webkit-scrollbar-thumb{background-color: var(--theme-primary); border: 1px solid gray;}
::-webkit-scrollbar-corner{background-color: dimgray}

/* Main content */

.message{
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  padding: 5px;
  font-size: 16px;
  background: var(--theme-primary);
  display:none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
.Header{
  font-size: 40px;
  font-weight: 350;
  padding: 20px;
  display: flex;
  color: var(--theme-primary);
  cursor: default;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--theme-secondary);
}
.Header span::selection, .HeaderIMG::selection{
  font-size: 40px;
}
.HeaderIMG{
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
#addNote{
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  z-index: 4;
  right: 50px;
  position: absolute;
  color: var(--theme-secondary);
  padding-left: 5px;padding-right: 5px;
  transition: color .35s ease-in-out;
}
.ANText::selection, .Plus span::selection{
  cursor: pointer;
}
.ANText{
  cursor: pointer;
  margin-top: -3px;
}
.Plus{
  font-size: 30px;
  height: 40px;
  width: 40px;
  background-color: var(--theme-secondary);
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: width .55s, margin-right .55s, transform .55s, box-shadow .55s;
}
.Plus span{
  margin-top: -3px;
  height: 40px;
  width: 40px;
  color: var(--theme-primary);
  text-align: center;
  transition: transform .55s, margin-top .55s;
}
#addNote:hover{
  color: var(--theme-primary);
}
#addNote:hover .Plus{
  width: 150px;
  box-shadow: 2.5px 2.5px 5px rgb(6, 9, 12);
  margin-right: -100px;
}
#addNote:hover .Plus span{
  transform: rotate(180deg);
  margin-top: 3px;
}
#notesContainer{
  margin: 25px;
  margin-top: 100px;
  margin-right: 0px;
}

/* Notes */

.Note{
  height: 220px;
  width: 222.5px;
  border-radius: 10px;
  position: absolute;
  border-bottom-right-radius: 0;
  background: #1b2530;
  border: 1px solid var(--theme-secondary);
  transition: top .4s, left .4s, width .4s, height .4s, box-shadow .4s;
}
.backNote{
  display: inline-block;
  margin-right: 26.5px;
  margin-bottom: 26.5px;
  height: 220px;
  width: 222.5px;
  transition: width .4s;
}
.noteTitle{
  position: absolute;
  transform: translate(0, -50%);
  max-width: 200px;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
  height: 20px;
  overflow: hidden;
  min-width: 150px;
  color: white;
  font-size: 13px;
  border: 1px solid var(--theme-secondary);
  background: rgb(27, 37, 48)
}
.operations{
  height: 35px;
  width: 100%;
  margin-top: 5px;
}
.Delete{
  background-image: url("Pictures/DeleteIcon.png");
}
.Edit{
  background-image: url("Pictures/EditIcon.png");
}
.Resize{
  background-image: url("Pictures/ResizeIcon.png");
}
.Copy{
  background-image: url('Pictures/CopyIcon.png');
}
.Resize, .Edit, .Delete, .Copy{
  height: 35px;
  width: 35px;
  float: right;
  transition: transform .3s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer !important;
}
.Resize:hover, .Edit:hover, .Delete:hover, .Copy:hover, .Pin:hover{
  transform: scale(1.2, 1.2);
}
.Resize:hover ~ div [t3], .Edit:hover ~ div [t2], .Delete:hover ~ div [t1], .Copy:hover ~ div [t4], .Pin:hover ~ div [t5]{
  transition-delay: .5s;
  visibility: visible;
}
.Pin{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: left;
  margin-left: -12.5px;
  margin-top: -18px;
  background: rgb(27, 37, 48);
  position: absolute;
  border: 1px solid var(--theme-secondary);
  background-image: url('Pictures/PinIcon (1).png');
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform .3s;
}
.Pinned{
  background-color: var(--theme-secondary);
  background-image: url('Pictures/PinIcon (2).png');
}
.parentBox{
  padding: 5px;
  display: none;
  position: absolute;
  z-index: 5;
  margin-top: -125px;
  background-color: rgb(27, 37, 48);
  border: 1px solid var(--theme-secondary);
  filter: brightness(90%);
  border-radius: 10px;
}
.box{
  background-color: darkgray;
  height: 75px;
  width: 80px;
  margin: 5px;
  border-radius: 10px;
}
.box:nth-child(2){
  width: 180px;
}
.box:last-child{
  width: 280px;
}
.box:hover{
  background-color: dimgray;
}
.noteTextTaker{
  width: 100%;
  resize: none;
  border: none;
  font-size: 15px;
  outline: none;
  background-color: rgb(27, 37, 48);
  color: white;
  height: calc(100% - 45px);
  min-height: 135px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  overflow-y: scroll;
}
.noteTextTaker, .noteText{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}
.noteText{
  height: calc(100% - 45px);
  font-size: 14px;
  overflow: auto;
  color: white;
  word-wrap: break-word;
}

/* footer */

.footer{
  background: var(--theme-secondary);
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: absolute;
}
.footer button{
  height: 40px;
  min-width: 100px;
  background: var(--theme-primary-light);
  color: var(--theme-secondary);
  border: none;
  font-family: inherit;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
.footer button::before{
  content: '';
  display: block;
  height: 40px;
  width: 100px;
  left: -100px;
  transition: left .3s ease-out;
  position: relative;
  background: var(--theme-primary);
}
.footer button:hover::before{
  left: 0px;
}
.listList{
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.listList div{
  border-bottom: 1px solid var(--theme-secondary);
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  color: white;
  transition: color .3s;
}
.listList div:hover{
  color: #c8c8c8;
}